====================
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

====================


/* HTML5 display-role reset for older browsers 
*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}

ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}





body{
  line-height: 1;
  overflow: hidden;
  margin:0;padding:0; 
  font-family: "ＭＳ ゴシック",sans-serif;  
	}
	
	
img{
	margin: 0;
	padding:0;
  border-style:none;

}



a:link {/*未訪問のリンク*/
    text-decoration:none;
	 transition: all ease 0.2s;
}


  
a:hover {/*マウスをのせたとき*/
  text-decoration:none;
}

a:visited {/*訪問済み*/
  text-decoration:none;
}

a:active {
  text-decoration:none;
}




.wrapper {
  width: 1196px;
  height: 768px;
  margin: 0 auto;
  padding:0;
background: url(../img/base_main.png);
}

.wrapper2 {
  width: 1196px;
  height: 768px;
  margin: 0 auto;
  padding:0;
background: url(../img/base_white.png);
}

#header{
 width: 1196px;
  height: 10%;
  float: left;
  margin: 0 ;
  padding:0;

}


#left{
  width: 33%;
  height: 80%;
  float: left;
  margin: 0 ;
  padding:0;

}

#center{
  width: 32%;
  height: 80%;
  float: left;
  margin: 0 ;
  padding:0;

}


#right{
  width: 35%;
  height: 80%;
  float: left;
  margin: 0 ;
  padding:0;

}

#main_naka{
  width: 100%;
  height: 80%;
  float: left;
  margin: 0 ;
  padding:0

}

#footer{
  width: 1196px;
  height: 10%;
  font-size:22px;
  color: #fff;
  font-weight:bold;
}

#footer a:link {/*未訪問のリンク*/
  color:#3d3d3d;
  font-style:normal;
  text-decoration:none;
	font-size:24px;

	transition: all ease 0.3s;
}
#footer a:visited {
  color:#3d3d3d;
  font-style:normal;
  text-decoration:none;
	font-size:24px;
 
	transition: all ease 0.3s;
}

  
#footer a:hover {/*マウスをのせたとき*/
  color:#ffffff;
  font-style:normal;
  text-decoration:none;
  font-size:24px;
  background-color: rgba(95,119,222,0.6);


}

#footer .home{
  background: url("../img/home.png"), no-repeat;

}

#footer .home a {
  
  width: 67px;
  height: 60px;
  display: block;

}

#footer .home a:hover {

    background: url("../img/home_m.png")no-repeat;
    transition: background ease 0.3s;

}





#green-gradient-bar {
	background: #b4e391; /* Old browsers */
	background: -moz-linear-gradient(left, #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
	}

  h1{
    font-size: 56px;
    color:#512f0d;
    line-height: 56px;
    padding: 0;
    margin: 0;
    opacity: 0.9;
  }

  h2{
    font-size: 24px;
    font-weight: bold;
    line-height: 0px;
    padding-top:10px;
    margin: 0;
  }

  h3{
    font-size: 21px;
    font-weight: bold;
    padding: 0;
    margin: 0;

  }


.pop_btn2 > li {
  /*display: inline-block;*/
  height: 70px;
  margin: 0;
  position: relative;
  width: 320px;
  list-style-type: none;
  padding: 10px 20px 10px 0px ;
}

.pop_btn2 > li a {
  color:#512f0d;
  border: transparent 2px solid;
  display: block;
  font-family: "ＭＳ ゴシック",sans-serif;
  height: 70px;
  width: 320px;
  line-height: 70px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: all ease 0.3s;
  
}

.pop_btn2 > li a:hover {
background: #fffdf7; /* Old browsers */
background: -moz-linear-gradient(left, #fffdf7 0%, #fff4ad 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #fffdf7 0%,#fff4ad 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #fffdf7 0%,#fff4ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdf7', endColorstr='#fff4ad',GradientType=1 ); /* IE6-9 */
  border:#fcc3b4 2px solid ;
  color: #397c5e;
  height: 70px;
  line-height: 70px;
  width: 320px;
}

.pop_btn2 > li a:hover > #bluetex{
  color: #397c5e;
  transition: all ease 0.3s;
}

.pop_btn2 > li a:hover > #greentex{
  color: #397c5e;
  transition: all ease 0.3s;
}

.pop_btn2 > li a:hover {
background: #fffdf7; /* Old browsers */
background: -moz-linear-gradient(left, #fffdf7 0%, #fff4ad 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #fffdf7 0%,#fff4ad 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #fffdf7 0%,#fff4ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdf7', endColorstr='#fff4ad',GradientType=1 ); /* IE6-9 */
  border:#fcc3b4 2px solid ;
  color: #397c5e;
  height: 70px;
  line-height: 70px;
  width: 320px;
}

.pop_btn2 > li a:hover > #bluetex{
  color: #397c5e;
  transition: all ease 0.3s;
}

.pop_btn2 > li a:hover > #greentex{
  color: #397c5e;
  transition: all ease 0.3s;
}

#bluetex {
color: #8fbff2;
transition: all ease 0.3s;
}

#greentex {
color: #bce2de;
transition: all ease 0.3s;
}


/*個別*/

#hiro20{
  letter-spacing: 20px;

}

#hiro10{
  letter-spacing: 10px;

}

#tsume02{
  letter-spacing: -2px;

}
#tsume05{
  letter-spacing: -5px;

}

#tsume30{
  letter-spacing: -30px;

}


/*h2の代用*/

#long{
    font-size: 24px;
    font-weight: bold;
    line-height: 0px;
    margin-top:30px;
  }

